RewriteEngine On

# Remove trailing slashes for consistency (optional)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)/$ /$1 [R=301,L]

# Rewrite rules for product-related pages
RewriteRule ^product-details/(.*)$ product-details.php?alias=$1 [L,QSA]
RewriteRule ^product-details/(.*)$ product-details.php?alias=$1 [L,QSA]
RewriteRule ^allproducts/(.*)$ products.php?alias=$1 [L,QSA]


# Handle existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Custom 404 page
ErrorDocument 404 /index.php